:root {
    --main-bg-color: rgb(240, 248, 255);
    --menu-bg-color: rgb(167, 199, 231);
    --header-bg-color: rgb(115, 147,179);
}

html, body {
    height: 100%; 
}

main {
    background-color: var(--main-bg-color);
    display: grid; 
    grid-template-rows: 10% 90%;
    height: inherit;
}

main > #header {
    background-color: var(--header-bg-color); 
}

#header > #title {
    font-size: 2.3em;
    margin: 20px 0 0 30px;
}

main > #content {
    display: grid;
    grid-template-columns: 20% 80%;
}

#content > #menu {
    background-color: var(--menu-bg-color);
    max-width: 300px;
}

#content > #taskboard {
    background-color: var(--main-bg-color);
}