:root {
    --main-bg-color: rgb(240, 248, 255);
    --menu-bg-color: rgb(167, 199, 231);
    --header-bg-color: rgb(115, 147,179);
}

html, body {
    height: 100%; 
}

main {
    background-color: var(--main-bg-color);
    display: grid; 
    grid-template-rows: 10% 90%;
    height: inherit;
}

main > #header {
    background-color: var(--header-bg-color); 
}

#header > #title {
    font-size: 2.3em;
    margin: 20px 0 0 30px;
}

main > #content {
    display: grid;
    grid-template-columns: 20% 80%;
}

#content > #menu {
    align-items: center;
    background-color: var(--menu-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#content > #taskboard {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#taskboard > #project-display {
    align-items: center;
    display: flex; 
    flex-direction: column;
    height: 70%; 
    max-width: 800px;
    width: 80%; 
}
 
#project-display > p {
    font-size: 1.3em;
}

#project-display > #add-task-button {
    background-color: var(--header-bg-color);
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

#project-display > #add-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#menu > h2 {
    margin-top: 10px
}

.add-button {
    background-color: var(--header-bg-color);
    border-radius: 100%;
    cursor: pointer;
    height: 50px;
    transition: 700ms;
    width: 50px;
}

.horizontal-cross {
    background-color: var(--main-bg-color);
    border-radius: 25%;
    height: 70%;
    position: relative;
    bottom: 27px; 
    left: 22px;
    transform: rotate(90deg);
    width: 10%;
}

.vertical-cross {
    background-color: var(--main-bg-color);
    border-radius: 25%;
    height: 70%;
    left: 22px;
    position: relative;
    top: 7px;
    width: 10%;
}

.add-button:hover {
    opacity: 75%;
    transform: rotate(90deg);
}

#content > #taskboard {
    background-color: var(--main-bg-color);
}